<section class="about-section container">
    <h2 class="section-title">About Me</h2>
    <div class="card about-content-card">
        <p>Hi there! I'm a passionate third-year Engineering student with a growing fascination for bringing ideas to life on the web. I'm currently diving deep into Web Development, constantly learning and honing my skills to build intuitive and impactful digital experiences. I'm excited to explore new technologies and contribute to innovative projects.</p>
        <p>My expertise spans across front-end technologies like HTML, CSS, and JavaScript, with a strong foundation in Angular. I also have experience with backend development, enabling me to build robust full-stack applications. I believe in writing clean, efficient, and maintainable code, always keeping user experience at the forefront.</p>
        <p>Outside of my studies and coding, I enjoy exploring new tech trends, contributing to open-source projects, and collaborating with like-minded individuals. I'm excited to leverage my skills to create innovative solutions and contribute to impactful projects.</p>
    </div>
</section>
