<section class="hero-section container">
    <div class="title-area">
        <h1>Soumyajit Basak</h1>
        <p>Web-Dev Student | Creative Problem Solver</p>
        <div class="contact-info-below-tagline">
            <a href="mailto:soumyajit0507@gmail.com"><strong>Soumyajit0507&#64;gmail.com</strong></a> <span class="separator">|</span> <a href="tel:+918100152317"><strong>+91 8100152317</strong></a>
        </div>
    </div>
    <div class="picture-area">
        <img src="https://imgs.search.brave.com/Lo985RP3oPoJOjvsSk2N1QVUJxhO_Mt4VC9A287x0ao/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2VhLzdj/LzYwL2VhN2M2MDJi/ZmVhMGRjNDhlZTcx/NmMzM2EyMDNlNDQ2/LmpwZw" alt="Your Professional Photo">
    </div>
</section>
